<h1>All posts</h1>

<ul class="list-group">
  <% @posts.each do |post| %>
    <li class="list-group-item">
      <%= link_to "#{post.title} (#{post.creation_time})", post %>
    </li>  
  <% end %>
</ul>
