<footer class="page-footer text-light bg-dark fixed-bottom">
  <!-- Copyright -->
    <div class="footer-copyright text-center py-3 font-small">
    © 2019 Copyright: Endy Ranaudo & Ivan Szebenszki
    </div>
    <!-- Copyright -->
</footer>